<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>person-dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-person-form
    [user]="user"
    [buttonLabel]="'Update'"
    [isUpdateMode]="true"
    (formSubmit)="onUpdate($event)">
  </app-person-form>

  <app-response-dialog
    *ngIf="dialogOpen"
    [message]="dialogMessage"
    [isSuccess]="dialogSuccess"
    [successRedirectRoute]="'/login'"
    (closed)="dialogOpen = false"
  ></app-response-dialog>
</ion-content>

